@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .btn__wrapper {
    display: flex;
    justify-content: center;

    .generate__btn {
      align-self: flex-start;
      border: none;
      color: #ffffff;
      background-color: #1abc9c;
      letter-spacing: 1px;
      margin: 10px 0 50px;
      border-radius: 50%;
      font-size: 22px;
      width: 180px;
      height: 180px;
      box-shadow: 4px 4px 9px 3px hsl(360, 0%, 50%);
      cursor: pointer;

      &:active {
        box-shadow: 1px 1px 8px 2px hsl(360, 0%, 70%);
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .radio {

    label.radio {
      display: flex;
      justify-content: space-around;
      cursor: pointer;

      span.radio {
        line-height: 18px;
        font-size: 13px;
      }

      input.radio {
        visibility: hidden;
      }

      figure.radio {
        width: 18px;
        height: 18px;
        border: 2px solid hsl(360, 0%, 50%);
        border-radius: 50%;
      }

      input.radio:checked+span.radio {
        color: #1abc9c;
      }

      input.radio:checked+figure.radio {
        border: 2px solid #1abc9c;

        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: #1abc9c;
          border-radius: 50%;
          transform: translate(2px, 2px);
        }
      }


    }
  }
}